.services-banner{
    position: relative;
    background-image: url('../../Assets/serviceDes.jpg');
    height: auto;
    padding-top: 200px;
    padding-bottom: 100px;
    background-size: cover;
    background-position: center;
}
.video-wrapper{
    display: flex;
    justify-content: center;

}
.services-details-container{
    position: relative;
    z-index: 2;
}
.services-banner::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(2, 1, 32, 0.742);
    left: 0;
    top: 0;
    z-index: 1;
}
.video-container{
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 10px solid #fff;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video{
    position: relative;
    height: 520px;
    width: 520px;
}
.servicesImg{
    overflow: hidden;
    display: flex;
    justify-content: end;
}
.servicesImg img{
  width: 100%;
}
@media only screen and (min-width:1200px){
    .video-container{
        position: relative;
        width: 400px;
        height: 400px;
    }
    .video{
        position: relative;
        height: 510px;
        width: 510px;
    }
}
@media only screen and (max-width:1199px){
    .video-container{
        position: relative;
        width: 330px;
        height: 330px;
    }
    .video{
        position: relative;
        height: 420px;
        width: 420px;
    }
}
@media only screen and (max-width:880px){
    .video-container{
        position: relative;
        width: 250px;
        height: 250px;
    }
    .video{
        position: relative;
        height: 300px;
        width: 300px;
    }
    .services-banner{
        padding-top: 100px;
        padding-bottom: 50px;
    }
}
@media only screen and (max-width:779px){
    .video-container{
        margin-top: 20px;
        position: relative;
        width: 320px;
        height: 320px;
    }
    .video{
        position: relative;
        height: 400px;
        width: 400px;
    }
}