.App {
  text-align: center;
}

/* Common CSS */
.them-color{
  background-color: #0e59f2;
}
.secondary-color{
background-color: aliceblue;
}

.primary-heading{
  font-size: 65px;
  font-weight: 600;
  line-height: 68px;
  color:#202020;
  line-height: 1.2;
}
.point_text{
  font-size: 20px;
  color: #212121;
  font-weight: 500;
}
.description_text{
  font-size: 19px;
  color: #666;
}

.link-style{
  text-decoration: none;
  color: #202020;
}
